

body {
  background: #c0d1e9;
}


#main {
  display: flex;
}

h1 {
  text-align: center;
}

#display {
  background-color: antiquewhite;
  width: 180px;
  height: 16px;
}

.container {
  background-color: rgb(50, 56, 69);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: block;*/
}

.row {
  width: 180px;
  margin: 5px
}

